.MindmapBuilder {
	position: relative;
	box-sizing: border-box;
}
.DiagramComponent {
	width: 100%;
	height: calc(100vh - 56px);
	background-color: white;
	box-sizing: border-box;
	border: none;
	outline: unset!important;
	-webkit-tap-highlight-color:transparent!important;
}
.ContextMenu {
	position: absolute;
	display: none;
	z-index: 999;
	bottom: 10px;
	left: 0;
	right: 0;
	width: 100%;
	box-sizing: border-box;
	max-width: max-content;
	margin: auto;
	

}
.ContextMenu ul {
	list-style: none;
	padding:0px;
	margin:0px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	text-align: center;
	width: 100%;
	align-items: center;
	
}
.ContextMenu ul li {
	margin: 0px 10px;

}
.SavedMap {
	width: 100%;
	padding: 10px 25px;
	box-sizing: border-box;
}
.SavedMap textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 90px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 12px;
}
.IonAdd ion-icon {
    font-size: 28px;
   
}

.MindmapBuilder  .IonAdd {
    font-size: 28px;
    background: content-box;
    width: 50px;
    height: 50px;
    --ion-color-base: #56c30d!important;
}